---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const skills = ["HTML/CSS", "JavaScript", "TypeScript", "Angular", "Astro", "C#/.NET", "C / Embedded", "FreeRTOS", "SQL (MSSQL)", "Python", "Linux", "Proxmox VE"]

const exploring = ["Infrastructure as Code", "Terraform", "Ansible", "CI/CD - Github Actions", "Docker", "Cloud - AWS"];

const learn = ["Rust", "Haskell", "Kubernetes", "Jenkins", "Monitoring - Prometheus", "Grafana", "Elastic Stack", "Secret Management - Hashicorp Vault", "Tracing - Jaeger", "Clusters & High Availability"];

const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle="about relyq">

    <p>hi!! im relyq</p>
    <p>i like computer science, music, and games</p>
    <p>im fluent in <span class="highlight">english</span> & <span class="highlight">spanish</span> (and understand a bit of italian) - i like human languages too</p>
    <p>i graduated highschool with an <span class="highlight">electronics degree</span>. everything else i learned on my own</p>
    <br>
    <p>i started working as an <span class="highlight">embedded dev</span> & doing some <span class="highlight">sysadmin</span> tasks in 2020, learned <span class="highlight">web dev</span> over the years, and lately i've been trying to get into <span class="highlight">devops</span></p>
    <p>i'll focus on listing dev & related skills here for now</p>

    <p>some things i've worked with: </p>
    <ul>
      {skills.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <p>some i'm currently exploring:</p>
    <ul>
      {exploring.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

    <p>and some i'd like to learn:</p>
    <ul>
      {learn.map((skill) => <li class="skill">{skill}</li>)}
    </ul>

  </BaseLayout>