---
import '../styles/global.css'
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const allPosts = await Astro.glob('../pages/posts/*.md*');
const pageTitle = "relyq's astro blog";
---

<BaseLayout pageTitle = {pageTitle}>
  <p>hi</p>
  <ul>
    {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>