---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "home page";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h2>hi! thank you for visiting!</h2>
  </div>
  <p>this is not my intended final design for the website. but its a step forward</p>
</BaseLayout>